* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faeded;
  color: #49d47e;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.input-style{
  display: flex;
  text-align: center;
  background-color: #067a40;
    color: #e5f7ec;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    border-color: #697770;
}
.country-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content:center;
  margin-top: 50px;

}
.box-list{
  display: block;
  align-items: center;
  width: 200px;
}
.country-list{
  list-style-type: none;
}